Source: plymouth
Section: misc
Priority: optional
Maintainer: Daniel Baumann <daniel@lists.debian-maintainers.org>
Uploaders: Daniel Baumann <daniel@debian.org>
Build-Depends:
 debhelper (>= 7.0.50~), autotools-dev, libgtk2.0-dev,
 libpango1.0-dev (>= 1.21), libpng-dev, pkg-config
Standards-Version: 3.8.3
Homepage: http://www.freedesktop.org/wiki/Software/Plymouth
Vcs-Browser: http://git.debian-maintainers.org/?p=daniel/plymouth.git
Vcs-Git: git://git.debian-maintainers.org/git/daniel/plymouth.git

Package: plymouth
Architecture: any
Depends:
 ${misc:Depends}, ${shlibs:Depends}, plymouth-plugins-all | plymouth-plugin,
 initramfs-tools
Suggests: gdm
Description: Graphical Boot Animation and Logger
 Plymouth provides an attractive graphical boot animation in place of the text
 messages that normally get shown. Text messages are instead redirected to a log
 file for viewing after boot.

Package: plymouth-dev
Architecture: any
Depends: ${misc:Depends}, plymouth (= ${binary:Version})
Description: Graphical Boot Animation and Logger (development)
 Plymouth provides an attractive graphical boot animation in place of the text
 messages that normally get shown. Text messages are instead redirected to a log
 file for viewing after boot.
 .
 This package contains the development files.

Package: plymouth-plugins-all
Architecture: all
Depends:
 ${misc:Depends}, plymouth-plugins-fade-in, plymouth-plugins-label,
 plymouth-plugins-solar, plymouth-plugins-spinfinity
Description: Graphical Boot Animation and Logger (plugin metapackage)
 Plymouth provides an attractive graphical boot animation in place of the text
 messages that normally get shown. Text messages are instead redirected to a log
 file for viewing after boot.
 .
 This package is a metapackage depending on all available plugins.

Package: plymouth-plugins-fade-in
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, plymouth (= ${binary:Version})
Provides: plymouth-plugin
Description: Graphical Boot Animation and Logger (fad-in plugin)
 Plymouth provides an attractive graphical boot animation in place of the text
 messages that normally get shown. Text messages are instead redirected to a log
 file for viewing after boot.
 .
 This package contains the fade-in plugin. It features a centered logo that
 fades in and out while stars twinkle around the logo during system boot up.

Package: plymouth-plugins-label
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, plymouth (= ${binary:Version})
Provides: plymouth-plugin
Description: Graphical Boot Animation and Logger (label plugin)
 Plymouth provides an attractive graphical boot animation in place of the text
 messages that normally get shown. Text messages are instead redirected to a log
 file for viewing after boot.
 .
 This package contains the label plugin. It provides the ability to render text
 on graphical boot splashes using pango and cairo.

Package: plymouth-plugins-solar
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, plymouth (= ${binary:Version})
Provides: plymouth-plugin
Description: Graphical Boot Animation and Logger (solar plugin)
 Plymouth provides an attractive graphical boot animation in place of the text
 messages that normally get shown. Text messages are instead redirected to a log
 file for viewing after boot.
 .
 This package contains the solar plugin. It features a blue flamed sun with
 animated solar flares.

Package: plymouth-plugins-spinfinity
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, plymouth (= ${binary:Version})
Provides: plymouth-plugin
Description: Graphical Boot Animation and Logger (spinfinity plugin)
 Plymouth provides an attractive graphical boot animation in place of the text
 messages that normally get shown. Text messages are instead redirected to a log
 file for viewing after boot.
 .
 This package contains the spinfinity plugin. It features a centered logo and
 animated spinner that spins in the shape of an infinity sign.
