#!/usr/bin/make -f

%:
	dh --with quilt ${@}

override_dh_auto_clean:
	dh_auto_clean

	rm -f build-tools/config.guess build-tools/config.sub

override_dh_auto_configure:
	cp -f /usr/share/misc/config.guess build-tools
	cp -f /usr/share/misc/config.sub build-tools

	dh_auto_configure -- --prefix=/usr --localstatedir=/var --enable-pango \
		--enable-tracing --disable-tests --disable-gdm-transition \
		--with-system-root-install --without-rhgb-compat-link \
		--with-gdm-autostart-file --without-default-plugin \
		--with-release-file=/etc/debian_version \
		--with-logo=/usr/share/plymouth/debian-logo.png \
		--with-background-color=0x005a8a

override_dh_auto_build:
	dh_auto_build

	# Removing double files
	rm -rf debian/tmp/usr/libexec
	rm -rf debian/tmp/var

override_dh_install:
	dh_install

	uudecode debian/local/debian-logo.png.uue -o debian/plymouth/usr/share/plymouth/debian-logo.png
	install -D -m 0755 debian/local/plymouth.hook debian/plymouth/usr/share/initramfs-tools/hooks/plymouth
	install -D -m 0755 debian/local/plymouth.init-premount debian/plymouth/usr/share/initramfs-tools/scripts/init-premount/plymouth
	install -D -m 0755 debian/local/plymouth.init-bottom debian/plymouth/usr/share/initramfs-tools/scripts/init-bottom/plymouth
	install -D -m 0755 debian/local/plymouth-set-default-plugin.sh debian/plymouth/usr/sbin/plymouth-set-default-plugin

override_dh_makeshlibs:
	dh_makeshlibs -p plymouth

override_dh_installinit:
	dh_installinit -- start 21 2 3 4 5 . stop 02 0 6 .
